* {
    box-sizing: border-box;

}

.container {
    width: 770px;
    border: 1px solid green;
    margin-bottom: 10px;
    position: relative;
}

.quadrato {
    height: 250px;
    width: 250px;
    background-color: lightgrey;
}

#center {
    position: absolute;
    top: 0;
    left: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

#left {
    position: absolute;
    top: 0;
    right: 0;
}
