* {
    box-sizing: border-box;

}

.container {
    width: 770px;
    border: 1px solid green;
    margin-bottom: 10px;
    position: relative;
}

.quadrato {
    height: 250px;
    width: 250px;
    background-color: rgba(220,220,220, 0.6);
}

#center {
    position: absolute;
    top: 0;
    left: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

#left {
    position: absolute;
    top: 0;
    right: 0;
}

.sale {
    height: 20px;
    width: 30px;
    background-color: green;
    position:absolute;
    left: 220px;
}

.red {
    background-color: red;
}


#heartsclick{
    position: absolute;
    display: none;
}

#heartsclick:checked + label{
    color: #e2264d;
}

label {
    position: absolute;
    display: none;
    left: 125px;
    bottom: 0;
    color: #aab8c2;
    cursor: pointer;
}


#heartsclick2 {
    position: absolute;
    display: none;
}

#heartsclick2:checked + label{
    color: #e2264d;
}


#heartsclick3 {
    position: absolute;
    display: none;
}

#heartsclick3:checked + label{
    color: #e2264d;
}

#heartsclick4 {
    position: absolute;
    display: none;
}

#heartsclick4:checked + label{
    color: #e2264d;
}

#heartsclick5 {
    position: absolute;
    display: none;
}

#heartsclick5:checked + label{
    color: #e2264d;
}

#heartsclick6 {
    position: absolute;
    display: none;
}

#heartsclick6:checked + label{
    color: #e2264d;
}
